<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
<!--        <target>System.err</target>-->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="Console" />
    </root>
</configuration>
